---
import BaseHead from '@components/BaseHead.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import Chat from '@components/Chat.astro';
import Comment from '@components/Comment.astro';

// Icons
import Copy from '@icons/Copy.astro';
import Mail from '@icons/Mail.astro';
import Bolt from '@icons/Bolt.astro';

import { SITE_TITLE, SITE_DESCRIPTION } from '@consts';

export async function getStaticPaths() {
    const recipes = await fetch(`${import.meta.env.PUBLIC_API_URL}/api/recipes/`).then(res => res.json());
    return recipes.recipes.map((recipe:any) => ({
        params: { recipe: recipe._id },
        props: {
            name: recipe.name,
            ingredients: recipe.ingredients,
            instructions: recipe.instructions,
            difficulty: recipe.difficulty,
            picture: recipe.picture,
            calories: recipe.calories,
            tags: recipe.tags,
            time: recipe.tags.find((tag:string) => tag.includes('minutes'))
        }
    }));
}

const { name, ingredients, instructions, difficulty, picture, calories, tags, time } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="bg-white text-slate-900 transition-colors">
		<Header />

        <section class="w-scren py-8 mt-20">
            <h2 class="text-slate-900 text-center"> {name} </h2>
            <!-- <img src={picture} alt={name} class="rounded-lg mx-auto my-8 w-4/5 lg:w-3/5" /> -->

            <div class="w-4/5 mx-auto flex gap-4 flex-wrap lg:w-3/5">
                {
                    (tags as string[]).map(tag => (
                        <span data-tag={tag} class="bg-gray-200 text-black rounded-full px-4 py-2 capitalize ">{tag}</span>
                    ))
                }
            </div>
        </section>

        <section class="w-4/5 mx-auto p-4 border-t-4 flex justify-items-center lg:justify-around flex-col lg:w-3/5 lg:flex-row">
            <div class="flex gap-4 my-2">
                <span class="text-slate-900 font-bold">Difficulty:</span>
                <span class="text-slate-900">{difficulty}</span>
            </div>

            <div class="flex gap-4 my-2">
                <span class="text-slate-900 font-bold">Time:</span>
                <span class="text-slate-900">{time}</span>
            </div>

            <div class="flex gap-4 my-2">
                <span class="text-slate-900 font-bold">Calories:</span>
                <span class="text-slate-900">{calories}</span>
            </div>
        </section>

        <section id="instructionSection" class="w-4/5 lg:w-3/5 mx-auto px-4 py-8 border-y-4 relative z-0">
            <h4 class="text-slate-900 ">List of ingredients:</h4>

            <ul>
                {
                    (ingredients as string[]).map(ingredient => (
                        <li>{ingredient}</li>
                    ))
                }
            </ul>

            <div class="flex mt-6 p-4 rounded-md gap-4 flex-wrap bg-gray-200 w-fit lg:absolute lg:right-0 lg:top-0">
                <button id="copyButton" class="text-white bg-slate-400 hover:bg-slate-500 hover:text-zinc-50 font-medium rounded-full text-sm px-2.5 py-2.5 text-center border border-transparent hover:border transition-all">
                    <Copy />
                </button>

                <a href=`mailto:?subject=Ingredients for ${name} recipe&body=${ingredients}` class="text-white bg-slate-400 hover:bg-slate-500 font-medium rounded-full text-sm px-2.5 py-2.5 text-center border border-transparent hover:border transition-all">
                    <Mail />
                </a>

                <!-- TODO: Add social networks -->
            </div>

        </section>

		<section class="w-4/5 lg:w-3/5 mx-auto mt-8 p-4">
            <h4 class="text-slate-900 ">
                Instructions:
            </h4>

            {
                (instructions as String[]).map((instruction: any) => (
                    <div class="flex gap-4 my-4">
                        <span class="text-slate-900 ">{instruction}</span>
                    </div>
                ))
            }
		</section>

        <section class="w-4/5 lg:w-3/5 mx-auto px-4 py-8 border-y-4 relative">
            <h5 class="text-slate-900 ">
                Need a recommendation?
            </h5>

            <p>
                If you want to pair this recipe with a wine, a dessert or cheese, we recommend you to use our pair recommendation tool.
            </p>

            <button id="recoButton" type="button" class="text-zinc-50 bg-slate-700 hover:bg-slate-600 focus:outline-none focus:ring-4 focus:ring-slate-300 font-medium rounded-full text-m px-5 py-2.5 text-center mr-2 mb-2 flex items-center justify-center">
                <Bolt />
                <span class="ml-2">Show recommendation</span>
            </button>

            <div id="recoContainer">
        </section>

        <section class="w-4/5 lg:w-3/5 mx-auto px-4 py-8 relative">
            <h5 class="text-slate-900  mb-4">
                Comments
            </h5>

            <Comment />
        </section>

        <Chat />
		<Footer />
	</body>
</html>

<script>
    // Selectors
    const recoButton = document.getElementById('recoButton') as HTMLButtonElement;
    const copyButton = document.getElementById('copyButton') as HTMLButtonElement;
    const instructionsList = document.getElementById('instructionSection') as HTMLUListElement;
    const recoContainer = document.getElementById('recoContainer') as HTMLDivElement;

    // Handle chat response
    const handleResponse = async() => {

        if(recoContainer.childElementCount > 0) {
            console.log("Quick exit");
            recoContainer.scrollIntoView({ behavior: "smooth", block: "nearest", inline: "nearest" });
            return;
        }

        // Disable the button until the response is received
        recoButton.disabled = true;
        recoButton.classList.add('opacity-50', 'cursor-not-allowed');

        // Get all messages in history
        const instructionItems = Array.from(instructionsList.querySelectorAll('li')).map((ingredient) => {
            return {
                role: 'user',
                content: ingredient.innerText
            }
        });

        // Stream response from API
        const response = await fetch(import.meta.env.PUBLIC_OPENAI_COMPLETION_URL, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'Authorization': `Bearer ${import.meta.env.PUBLIC_OPENAI}`
            },
            body: JSON.stringify({
                model: 'gpt-3.5-turbo',
                messages: [
                    {
                        role: 'system',
                        content: 'You are now to act as an expert chef with 10 years of experience. Your goal is to help me pair my current recipe with a selection of wine, cheese or dessert that would fit the best. Suggest a low calorie and vegan alternative if and recommend seasonal products if possible.'
                    },
                    ...instructionItems
                ],
                max_tokens: 1000,
                temperature: 0.9,
                top_p: 1,
                presence_penalty: 0.6,
                frequency_penalty: 0.6,
                stop: ['[DONE]'],
                stream: true
            })
        });

        const reader = response.body?.getReader() as ReadableStreamDefaultReader;
        const message = document.createElement('div');
        message.classList.add('flex', 'gap-4', 'my-4');

        while (true) {
            const { done, value } = await reader?.read();
            if (done) {
                break;
            }

            const decoder = new TextDecoder('utf-8').decode(value);
            const sentence = decoder.split('\n');
            const parsedSentence = sentence.map(line =>
                line.replace(/data: /, '').trim())
                .filter(line => line.length > 0 && !line.includes('[DONE]'))
                .map(line => JSON.parse(line))

            // Extract delta from parsed sentence
            for(const word of parsedSentence) {
                const { choices } = word;
                const { delta } = choices[0];
                const { content } = delta;
                if(content) {
                    message.innerText += content;
                    recoContainer.appendChild(message);
                }
            }
        }

        // Enable the button again
        recoButton.disabled = false;
        recoButton.classList.remove('opacity-50', 'cursor-not-allowed');

        return message;
    }

    recoButton?.addEventListener('click', () => {
        handleResponse();
    });

    copyButton?.addEventListener('click', () => {
        const getIngredients = () => Array.from(instructionsList.querySelectorAll('li')).map(ingredient => ingredient.innerText);
        navigator.clipboard.writeText(getIngredients().join('\n'));
    });
</script>