---
import BaseHead from '@components/BaseHead.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '@consts';

const recipes = await fetch(`${import.meta.env.PUBLIC_API_URL}/api/recipes/`).then((res) => res.json());
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="bg-white dark:bg-gray-800 text-slate-900 dark:text-white">
		<Header />
		<main class="w-3/5">

			<h2 class="text-slate-900 dark:text-white"> Discover new recipes </h2>

			<section>
				<ul class="flex flex-wrap gap-8 list-none m-0 p-0 w-full mt-8">
					{
						recipes.recipes.map((recipe: any) => (
							<li class="w-[calc(50%-16px)] ">
								<a href={`/recipe/${recipe._id}`} class="block ">
									<img src={recipe.picture} alt={recipe.name} class="w-full h-auto rounded-lg" />
									<h2 class="text-2xl font-bold mt-4 text-slate-900 dark:text-white">{recipe.name}</h2>
									<p class="text-sm text-gray-500">
										Recette {recipe.difficulty} - {recipe.calories} cal.
									</p>
								</a>
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
